<section class="icons__">
    <div class="icons__">
      <div class="icons__images">
        <img id='icons__0' src="http://localhost/madebycan.com/includes/assets/media/images/landing/icon-0.png" alt="">
          <div class="icons__info">
            <h3>all orders</h3> <span>checked for quality</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__1' src="http://localhost/madebycan.com/includes/assets/media/images/landing/icon-1.png" alt="">
          <div class="icons__info">
            <h3>quality product</h3> <span>affordable pricing</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__2' src="http://localhost/madebycan.com/includes/assets/media/images/landing/icon-2.png" alt="">
          <div class="icons__info">
            <h3>gift wrapping</h3> <span>available on all orders</span>
          </div>
      </div>
  
      <div class="icons__images">
        <img id='icons__3' src="http://localhost/madebycan.com/includes/assets/media/images/landing/icon-3.png" alt="">
          <div class="icons__info">
            <h3>secure payments</h3> <span>PCI-DSS & GDPR compliant</span>
          </div>
      </div>
    </div>
  </section>
  